.header__h2 {
    color: white;

}

.box1:hover {
    background-color: #BFAFF2;
}

.header__elements {
    display: flex;
    gap: 20px;
    margin-left: 30px;
}

select {
    width: 70px;
    height: 30px;
    margin-top: 15px;
    outline: none;
    background-color: rgb(21, 18, 39);
    color: white;
    
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(21, 18, 39);

}

.header__elements2 {
    display: flex;
    margin-right: 30px;
    gap: 20px;
}

.header__button {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    background-color: #BFAFF2;
    border-radius: 10px;
    outline: none;
}
.card{
    width: 350px;
    height: 250px;
    /* border: 2px solid black; */
    color: white;
    background-color: #232028;
    text-align: center;
    margin-top: 350px;
    border-radius: 30px;
    display: flex;
    
}
.main__p{
    position: absolute;
    top: 520px;
    left: 40px;
}
.main__h1{
    position: absolute;
    top:460px;
    left: 80px;
}
.card__img{
    position: absolute;
    top: 150px;
    left: 50px;
    

}
.card2{
    background-color: #232028;
    width: 350px;
    height: 250px;
    /* border: 2px solid black; */
    border-radius: 30px;
    color: white;
    margin-top: 350px;
    margin-left: 30px;
}
.card2__h1{
    margin-top: 50px;
    text-align: center;
}
.card2__p{
    text-align: center;
}
.main2{
    display: flex;
    margin-left: 7px;
    
}
.card__img2{
    position: absolute;
    top: 160px;
    left: 460px;
}
.card3{
    background-color: #232028;
    width: 350px;
    height: 250px;
    /* border: 2px solid black; */
    border-radius: 30px;
    color: white;
    margin-left: 30px;
    margin-top: 350px;
    text-align: center;
    
}
.card3__p{
  /* margin-top: 50px; */
}
.card3__h1{
   margin-top: 50px;
}
.card__img3{
    position: absolute;
    top: 140px;
    left: 820px;
}
.card4{
    background-color: #232028;
    width: 350px;
    height: 250px;
    /* border: 2px solid black; */
    color: white;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 350px;
    text-align: center;
}
.card4__h1{
    margin-top: 50px;

}
.card__img4{
    position: absolute;
    top: 140px;
    left: 1220px;
}
main{
    width: 100%;
    height: 800px;
    background-color: rgb(27, 23, 53);
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1100px;
    color: white;
    background-color: rgb(21, 18, 39);
}
a{
    color: white;
    
    
    
}



